/*-----------------------------------------------------------------------------------

	0.	CSS Reset
	1.	General Settings
		1.1 Structure / Collumns
		1.2 Page Settings
	2.	Custom Settings

	
-----------------------------------------------------------------------------------*/


/*---------------------------------------------------------------------------------*/
/*	0. CSS Reset Style
/*---------------------------------------------------------------------------------*/

html, body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ul { list-style:none }
ol { padding-left: 17px;	}
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 { font-size:100%; font-weight:normal }
q:before, q:after { content:''}
header, nav, article, footer, address {display: block;}
strong { font-weight:bold }
em { font-style:italic }
a img { border:none } /* Gets rid of IE's blue borders */
pre { padding: 10px; white-space: pre; white-space: pre-wrap; white-space: pre-line; word-wrap: break-word;}


/*---------------------------------------------------------------------------------*/
/*	1. General Settings
/*---------------------------------------------------------------------------------*/

body {
	color: #666;
	width: 100%;
	font-family: "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;	
	font-size: 12px;
	background: #ebebeb;
}

a {
	text-decoration: none;
	color: #f68520;
}

a:hover {
	text-decoration: underline;
}

a:active, a:focus { /* Hides dotted border on ie */
   outline:  none;
   ie-dummy: expression(this.hideFocus=true);
}

input[type=text], input[type=password], textarea {
	width: 100%;
	max-width: 350px;
	border: 1px solid #bec1c3; 
	outline: 2px solid #f1f1f1;  
	padding: 0 5px; 
	padding-top: 8px; 
	padding-bottom: 5px; 
	color: #999;	
	-moz-transition: background .3s ease-in-out;
	-webkit-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}

textarea {
	height: 100px; 
	min-width: 350px;  
	padding: 5px 5px;	
}

input[type=text]:focus, input[type=password]:focus, textarea:focus,
input[type=text]:focus, input[type=password]:focus, textarea:hover  {
	outline: none; 
	color: #333;
	background: #f5f5f5;
}

a.link-button, input[type=submit] {
	display: inline-block;
	font-size: 11px;
	padding: 0 10px;
	height: 25px;
	line-height: 25px;
	cursor: pointer; 
	-moz-border-radius: 2px; 
	-webkit-border-radius: 2px; 
	border-radius: 2px;
	margin: 0 2px 8px 0;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
	background-image: url('../images/button-bg.png');
	background-color: #f68520;
	border: 1px solid #f68520; 
	color: #9c4114;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	font-weight:bold;
	-moz-transition: all .3s ease-in-out;
	-webkit-transition: all .3s linear;
	transition: all .3s ease-in-out;
}

input[type=submit] {
	height: 27px;
	line-height: 27px;
}

a.link-button:hover, input[type=submit]:hover {
	text-decoration: none;
	opacity: 0.9;
}

a.link-button:active, input[type=submit]:active, a.active {
	background-image: none;
}

.clear, .hr {
	clear: both;
	display: block;
	overflow: hidden;
	width: 100%;
	position: relative;
}

.hr {
	padding: 20px 0 0 0;
	margin: 0 0 10px 0;
	border-bottom: 1px dashed #e3e3e3;
}

/*---------------------------------------------------------------------------------*/
/*	2. Custom Settings
/*---------------------------------------------------------------------------------*/


/*** Login Style Settings ***/

.log-main-container {
	background: #f5f5f5;
	margin-top: 200px;
	padding: 30px 0;
	border-top: 1px solid #e3e3e3;
	border-bottom: 1px solid #e3e3e3;
}

#logo {
    height: 38px;
    width: 241px;
    background-image: url('/88dbphcrm/images/88db-logo.gif');
    margin: 0 auto;
}

.log-section {
	width: 350px;
	padding: 25px 30px 25px 30px;
	background: #fff;
	margin: 0 auto;
	overflow: hidden;
	-webkit-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 2px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #e3e3e3;
}

.log-section form {
	padding-top: 15px;
}

.log-section form input {
	margin: 5px 0 10px 0;
}

.log-commands {
	overflow: hidden;
	border-top: 1px solid #e3e3e3;
	padding-top: 5px;
	margin-top: 10px;
}

.log-section form input[type=submit] {
	float: right;
}

.log-section form a {
	background-color: #e3e3e3;
	border: 1px solid #ddd; 
	color: #666;
	margin-top: 5px;
}

.inner-box {
	text-align: center;
}



/*** Header Style Settings ***/

.main-container {
	width: 960px;
	margin: 0 auto;
}

.header {
	overflow: hidden;
	background: #e3e3e3 url('../images/header-bg-main.png') repeat-x;
	padding: 0 10px;
	/*height: 31px; */
	height:62px;
	border: 1px solid #d9d9d9;
	border-top: none;
	border-bottom: none;
	color: #666;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.header #logo-main {
	float: left;
	width: 100px;
	background: url('../images/logo-main.png') no-repeat;
	height: 22px;
	margin-top: 8px;
}

.header ul {
	float: left;
	border-right: 1px solid #d7d7d7;
	padding: 0 10px;
	margin-top: 1px;
}

.header ul li {
	float: left;
	height: 28px;
}

.header ul li a {
	color: #666;
	height: 28px;
	line-height: 32px;
	padding: 6px 8px;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
}

.header ul li a:hover {
	color: #f68520;
	text-decoration: none;
}

.header ul li a.active-page {
	color: #f68520;
}

.header .user-log {
	float: right;
	padding-top: 7px;
	padding-left: 14px;
	border-left: 1px solid #fbfbfb;
	height: 21px;
	color: #999;
	margin-top: 1px;
}

.header .user-log a.logout {
	color: #666;
	border-left: 1px solid #d7d7d7;
	margin-left: 10px;
	padding-left: 10px;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
}

.header ul li a.logout:hover {
	color: #f68520;
	text-decoration: none;
}



/*** Main Section Style Settings ***/

.main-section {
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;
}



/*** Sign up Style Settings ***/

.signup .log-commands ul {
	float: right;
	margin-top: 10px;
}

.signup .log-commands ul li {
	float: left;
	margin-left: 10px;
}

.signup a.gray {
	background-color: #e3e3e3;
	border: 1px solid #ddd; 
	color: #666;
}

.signup select {
	width: 350px;
	margin-right: 10px;
	margin-bottom: 10px;
	color: #666;
}

.signup .inner-box {
	text-align: right;
}

.signup .inner-box input {
	margin-bottom: 10px;
}

.signup .section-label {
	padding: 10px 0;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 20px;
}

.signup .section-label h2 {
	font-size: 16px;
	font-weight: bold;
	color: #f68520;
}


/*** Dashboard Style Settings ***/

.dashboard-chart {
	overflow: hidden;
	background: #fff url('../images/header-bg.png') repeat-x;
	padding: 33px 8px 10px 10px; 
	border: 1px solid #d9d9d9;
	border-top: none;
	color: #666;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
}

/*
.row {
	margin-left: -2%;
	overflow: hidden;
}
*/
.row
{
margin:0 auto;
overflow:hidden;
border-bottom:0px solid #D9D9D9;
margin-bottom:15px;
padding-bottom:2px;
}
.col-5 {
	width: 19%;
	margin-left: 1.5%;
	float: left;
}

.units {
	display: block;
	text-align: center;
	font-size: 48px;
	margin-top: 8px;
}

.chart-label h2 {
	color: #666;
	text-shadow: 0 1px 1px rgba(255,255,255,1);
	font-weight: bold;
	font-size: 12px;
	position: absolute;
	top: 7px;
	left: 7px;
}


/*** Accounts Style Settings ***/

.head-label-department h2 {
	
	font-size: 16px;
	font-weight: bold;
	color: #f68520;
	margin:12px 0 0 15px;
}

.head-label h2 {
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #f68520;
	margin-top: 12px;
}
.head-label-rep h2 
{
	font-size: 16px;
	font-weight: bold;
	color: #f68520;
	margin-top: 12px;

}
 
.gen-section table {
	font-size: 12px;
	border: none;
	width: 918px;
}

.gen-section table.main-grid tr:nth-child(even) {
	background: #f9f9f9;	
}

.gen-section table tr.grid-head td, 
.gen-section table tr td.grid-head {
	padding: 5px;
	font-weight: bold;
	color: #454545;
}

.gen-section table tr td
{
	padding: 5px;
}
.gen-section table.main-grid tr.grid-content td:nth-child(2)
 {
 width:320px;
 
 }
.gen-edit-section table select {
	width: 300px;
}

.commands {
	border-bottom: 0px solid #e3e3e3;
	margin-bottom: 0px;
	overflow: hidden;
}

.commands ul {
	float: right;
}

.commands ul li {
	float: left;
	margin-left: 10px;
}

.commands ul li a.gray {
	background-color: #e3e3e3;
	border: 1px solid #ddd; 
	color: #666;
}

.edit-account-footer {
	border-top: 1px solid #e3e3e3;
}

.remarks-head {
	padding-bottom: 5px;
	border-bottom: 1px solid #e3e3e3;
	margin-bottom: 10px;
}

.remarks-head h3 {
	font-size: 14px;
	font-weight: bold;
	color: #f68520;
}

.remarks {
	border-bottom: 1px solid #e3e3e3; 
	padding-bottom: 10px;
	margin-bottom: 10px;
}

label.error { color: red; padding-left: 5px;}












.header ul 
{
z-index:99999;

}
/* 1ST LEVEL DROP-DOWN MENU */
.header ul li ul { display:none; }
.header ul li:hover > ul { display:block; position:absolute; top:62px; padding:0;border:none;width:140px;background:#E3E3E3; }
.header ul li:hover > ul li{ float:left; margin:0px; padding:0px; list-style:none;  }
.header ul li:hover > ul li a { text-decoration:none; }
.header ul li:hover > ul li a:hover { margin-top:1px;width:140px;}

/* 2ND LEVEL DROP-DOWN MENU */
.header ul li > ul li ul { display:none; }
.header ul li > ul li:hover > ul { display:block; position:absolute; top:25px; }
.header ul li > ul li:hover ul li { margin:0px; padding:0px 0px; float:none; list-style:none; width:70px; position:relative; }
.header ul li > ul li:hover ul li a { display:block; background:#E3E3E3 ; }
.header ul li > ul li:hover ul li a:hover { background:#E3E3E3 ; }

/* 3RD LEVEL DROP-DOWN MENU */
.header ul li > ul li ul li > ul { display:none; }
.header ul li > ul li ul li:hover > ul { display:block; position:absolute; top:0px; left:100%; }






/* ADDITIONAL by JEREMIE */

.gen-section table tr.grid-head
{
border-bottom:1px solid #A5A5A5;

}
.gen-section table tr.grid-content
{
border-bottom: 1px solid #DFDFDF;

}
.head-label h3 {
	float: left;
	font-size: 16px;
	font-weight: bold;
	color: #f68520;
	
}




/*** Dashboard Style Settings ***/

.dashboard-chart-2 {
	overflow: hidden;
	text-align:center;
	
	padding: 33px 2px 10px 2px; 
	border-right: 1px solid #d9d9d9;
	border-bottom:1px solid #D9D9D9;
	border-top: none;
	color: #666;
	font-size: 12px;
	margin:0;
	
	
	position: relative;
}
.dashboard-chart-2:nth-child(1n+6)
{
margin:20px 0 0 0;

}
.dashboard-chart-2  .units
{

font-size:24px;
font-weight:bold;
}
.dashboard-chart-2 .chart-caption
{
font-size:9px;
letter-spacing:1px;
}


 .dashboard3-chart {
	overflow: hidden;
	background: #fff url('../images/header-bg.png') repeat-x;
	padding: 33px 8px 10px 10px; 
	border: 1px solid #d9d9d9;
	border-top: none;
	color: #666;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
	width:276px;
	float:left;
	margin-right:10px;
}
.dashboard4-chart table tr td
{

padding:5px;
}
.dashboard4-chart table tr:nth-child(even)
{
background: #F9F9F9;

}
.dashboard4-chart table
{

font-size: 12px;
border: none;
width: 100%;
margin: 20px 0 0 0 ;
}
.dashboard4-chart table tr.grid-content
{
border-bottom: 1px solid #DFDFDF;

}
.dashboard4-chart
{
overflow: hidden;
	background: #fff url('../images/header-bg.png') repeat-x;
	padding: 33px 8px 10px 10px; 
	border: 1px solid #d9d9d9;
	border-top: none;
	color: #666;
	font-size: 11px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 20px;
	position: relative;
	width:276px;
	float:left;
	margin-right:10px;
	

}
#notif_container ul li a
{
color:#fff;
}
#notif_container ul
{


}
#notif_container ul li
{


}

/* MESSAGING */
.msg-container{
      display: none;
      padding: 10px 50px;
      margin: 0;
	  background-color:#fff;
    }
ul.message-grid li
{
background-color:#fff;

}
li.msg-container
{
border-right:1px solid orange;
border-left:1px solid orange;
border-bottom:1px solid orange;

}
.gen-section ul.message-grid li.grid-content td:nth-child(2)
{

width:470px;
}
table.main-grid-message-list tr.grid-head td:nth-child(1){width:215px;}
table.main-grid-message-list tr.grid-head td:nth-child(2){width:320px;}
.gen-section ul.message-grid-view li.grid-content td:nth-child(1)
{

width:215px;
}



table.message-table-form
{
width:300px;
margin:0 auto;

}

div.gen-section ul.message-grid-msg
{
margin:30px auto 0 auto;
width:500px;
}

ul.message-grid-view li.grid-content:nth-child(odd)
{
background-color:#F9F9F9;
}
ul.message-grid-view li.grid-content:hover
{
cursor:pointer;
text-decoration:underline;
}

ul.message-grid-msg li.message-grid-content table.main-grid
{
width:100%;

}
ul.message-grid-msg li.message-grid-content table.main-grid tr.grid-content td:nth-child(2)
{
width:50px;
}
div.rFloat
{
font-weight:normal;
float:right;
}
div.message-body
{
margin:10px 0px;

}
ul.message-grid-msg li.message-grid-content
{
padding:10px 0;
border-bottom:1px solid #A5A5A5;
}
ul.message-grid-msg li.message-grid-content:last-child
{
padding-bottom:30px;
}
#bck-msg-btn
{
float: right;
right: 200px;
position: relative;
}

.head-label-msg h2 {
float: left;
font-size: 16px;
font-weight: bold;
color: 
#F68520;
margin-top: 12px;
left: 208px;
position: relative;
}

#msgfrm
{
background-color:#F9F9F9;
width:500px;
margin:0 auto;
}
/* Total Accounts column */
#total_accounts
{

padding:0px 2px 0px 2px;
padding: 0 2px 3px 2px\0/;
}
@media \0screen { #total_accounts {padding: 0 2px 0px 2px ;} }
#total_accounts #main_total_accounts
{

}
#total_accounts #main_total_accounts span#w2
{
	font-size:18px;
}
#total_accounts #top_leads
{
margin: 4px auto 2px auto;
text-align: center;
}
#total_accounts #top_leads span.chart-label
{
font-size: 11px;
}
#total_accounts #top_leads span#w2
{
font-size:16px;
}
#total_accounts #bottom_signed
{
font-size: 11px;
padding-top: 1px;
margin: 0 auto;
}
#total_accounts #bottom_signed span#w2
{
font-size:16px;
}

/* Signed Columns */
div.signed_column
{

padding:0px 2px 0px 2px;
padding: 0 2px 3px 2px\0/;
}
@media \0screen { div.signed_column {padding: 0 2px 0px 2px ;} }

div.signed_column div.main_signed_accounts
{

}
div.signed_column div.main_signed_accounts span.units
{
font-size:18px;
}
div.signed_column div.top_signed_accounts
{
margin: 4px auto 2px auto;
text-align: center;
}
div.signed_column div.top_signed_accounts span.chart-label
{
font-size:11px;
}
div.signed_column div.top_signed_accounts span.units
{
font-size:15px;
margin-top:0;
}
div.signed_column div.middle_signed_accounts
{
font-size: 11px;
padding-top: 1px;
margin: 0 auto;
}
div.signed_column div.middle_signed_accounts span.chart-label
{
font-size:11px;
}
div.signed_column div.middle_signed_accounts span.units
{
font-size:15px;
margin-top:0;
}
div.signed_column div.bottom_signed_accounts
{
font-size: 11px;
padding-top: 1px;
margin: 0 auto;
}
div.signed_column div.bottom_signed_accounts span.chart-label
{
font-size:11px;
}
div.signed_column div.bottom_signed_accounts span.units
{
font-size:15px;
margin-top:0;
}
